Cython>=0.15.1
Pillow>=1.7.7
boto>=2.9.3
pycrypto>=2.4.1
bottle>=0.11.6
numpy>=1.6.0
scipy>=0.9.0
scikit-learn>=0.13.1
flickrapi>=1.4.2
-e git+https://github.com/surfly/gevent.git#egg=gevent-dev
gipc>=0.3.1
greenlet>=0.4.0
-e git+https://github.com/bwhite/kernels.git#egg=kernels-dev
-e git+https://github.com/bwhite/hadoopy.git#egg=hadoopy-dev
-e git+https://github.com/bwhite/hadoopy_hbase.git#egg=hadoopy_hbase-dev
-e git+https://github.com/bwhite/crawlers.git#egg=crawlers-dev
hiredis>=0.1.1
msgpack-python>=0.3.0
-e git+https://github.com/bwhite/data_sources.git#egg=data_sources-dev
-e git+https://github.com/bwhite/mturk_vision.git#egg=mturk_vision-dev
raven>=3.3.7
redis>=2.7.5
requests>=1.2.0
thrift>=0.9.0
lxml>=3.0
pyquery>=1.2.1
